{
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "quoteProps": "preserve"
      }
    }
  ]
}
